  <div class="modal fade" id="peerReviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Peer review cycles</h3>
        </div>
        <div class="modal-body">
          <p>
            This is where all the peer review cycles are specified.
          </p>
          <h3>
            Peer review cycles
          </h3>

          <% assignment.peer_review_cycles.each do |cycle| %>
            <h4>Cycle id <%= cycle.id %></h4>
            <p><%= cycle.id %></p>
          <% end %>

          <h3>New peer review cycle</h3>
            <%= render :partial => "cycle_form", :locals => {:assignment => assignment} %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->