<h2>Edit <%= @assignment.name %></h2>

<%= form_for @assignment, url: {action: "update"} do |f| %>

  <%= render :partial => "form", :locals => {:f => f, :assignment => @assignment} %>

  <p><%= f.submit("Update assignment") %></p>
<% end %>