<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>All users</h2>
    This is only visible to admins.
    <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
      </li>
    <% end %>
    </ul>
  </div>
</div>