<div class="row">
  <div class="col-sm-9 col-sm-offset-2">
  <h2>Add users to <%= @course.name %></h2>

<h3>Add by csv</h3>
<p>Stick some CSV here, yo.</p>
<form method="POST" action=<%= course_users_url(@course) %> role="form">
  <textarea name="user_details" class="form-control">name,uni id</textarea>
  <input type="submit" value="Create users">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

<p>TODO: some convenient way of removing a bunch of users by uploading a complete CSV of all the students in the course, then removing all the students who aren't in that csv.</p>

<p>Also, it would be good to be able to update the group enrollments here.</p>

</form>
</div>
</div>