<pre><code class="prettyprint annotateable"><% file.body.split("\n").each_with_index do |line, index| %><small><%= (index + 1).to_s.ljust(3) %></small> <span class="line-of-code"> <%=line.strip().ljust(80)%></span>
<% end %></code></pre>
