
<p>Please zip your assignment and upload it.</p>
<p>If it's going to be peer reviewed, please don't write your name or uni
id in the source code.</p>

<form method="POST"
         action="<%= assignment_assignment_submissions_url(assignment) %>"
         enctype="multipart/form-data">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <%= file_field 'upload', 'datafile' %>
  <br>
  <input type="submit" value="Submit!" class="btn btn-primary">
</form>
