<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Main.hs 
        
        <% unless ((current_user.relationship_to_assignment(@assignment) != :staff) && 
          ((@assignment.courses & current_user.convened_courses).length == 0)) && 
          (!@submission.permitted_users.pluck(:uni_id).include? current_user.uni_id) %>
        
            <%= link_to "Download submission", {:action => "download_raw"}, 
              :class => 'btn btn-primary btn-sm', :style => "float:right; display:block" %> 
          
        <% end %>
        </h4>
      </div>
      <div class="panel-body">
        <%= render :partial => "file", :locals => { :file =>
                              submission.submission_files.first } %>
      </div>
    </div>
  </div>
</div>