<h3>New assignment submission for <%= link_to(@assignment.name,
                                            assignment_url(@assignment)) %></h3>
<form method="POST"
              action="<%= assignment_assignment_submissions_url(@assignment) %>">
  <textarea name="submission[body]"><%= @submission.body if @submission %></textarea>
  <br>
  <input type="submit" value="Submit!">
</form>