<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>New group type</h2>
    <%= form_for @group_type, url: {action: "create"}, html: {role: "form"} do |f| %>
      <%= render :partial => "form", :locals => { :group_type => @group_type,
                                                  :f => f } %>


      <p><%= f.submit("Create group type", :class => "btn btn-primary btn-sm") %></p>
    <% end %>
  </div>
</div>