<h2>Courses</h2>

<h3>Your courses</h3>

<ul>
  <% @user_courses.each do |course| %>
    <li>
      <%= link_to course.name, course_url(course) %>
      (<%= course.convenor.name %>)
    </li>
  <% end %>
</ul>

<h3>Other courses</h3>
<ul>
  <% @other_courses.each do |course| %>
    <li>
      <%= link_to course.name, course_url(course) %>
      (<%= course.convenor.name %>)
    </li>
  <% end %>
</ul>